#fullpage{
	text-align:center;
}
h1, h2, h3{
	margin:0;
	padding:0;
	text-align:center;
}

#menu li {
	vertical-align:middle;
	display:inline-block;
	margin:7px .83% 5px .83%;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.4);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.7);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display: block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	max-height: 10%;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#logo{
	max-height: 75px;
	height:11%;
	width:auto;
}

#mapLeaflet{
	margin: 5% auto 0% auto;
	height:80%;
	width:90%;
	border:graded;
	background:#fff;
}

.btn{
	border: 5px solid rgba(0,0,0, 0.7);
	border-radius:10px;
	text-decoration:none;
	color: black;
	background: rgba(255,255,255, 0.5);
	margin:0;
	height:30px;
	width:250px;
}
.logoPart{
	height:200px;
	width:auto;
}

#git{
	height:100px;
	width:auto;
}

blockquote{
	width:75%;
	text-align:left;
	margin:0 12.5%;
}
