#fullpage{
	text-align:center;
}
h1, h2, h3{
	color: white;
	margin:0;
	padding:0;
	text-align:center;
	font-family:amatic_scregular;
}

img{
	/*box-shadow: 8px 8px 12px #aaa;*/
	border-radius: 5%;
}

h1{
	font-size: 500%;
}
h2{
	font-size: 450%;
}
h3{
	font-size: 400%;
}
h4{
	font-size: 350%;
}
h5{
	font-size: 300%;
}
h6{
	font-size: 250%;
}

p, a{
	font-family:'amatic_scregular';
	font-size: 200%;
	color: white;
}

#menu li {
	vertical-align:middle;
	display:inline-block;
	margin:7px .83% 5px .83%;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.4);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.7);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display: block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	max-height: 10%;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#logo{
	max-height: 75px;
	height:11%;
	width:auto;
}

#mapLeaflet{
	margin: 1% auto 0% auto;
	height:80%;
	width:90%;
	border:graded;
	background:#fff;
}

.btn{
	border: 5px solid rgba(0,0,0, 0.7);
	border-radius:10px;
	text-decoration:none;
	color: black;
	background: rgba(255,255,255, 0.5);
	margin:0;
	height:30px;
	width:250px;
}
.logoPart{
	height:200px;
	width:auto;
}

#git{
	height:50%;
	width:auto;
	margin:1% 0;
}

blockquote{
	width:75%;
	text-align:left;
	/*margin:0 12.5%;*/
	background:rgba(100,100,100,0.5);
	/*background: #B4AF91;*/
	border-radius:10px;
	padding:1%;
	margin-top:10px;
}

#imgpano{
	width:auto;
	height:50%;
	padding:1%;
	display: inline-block;
}

#article{
	width: 30%;
	display: inline-block;
}

#imgWiki{
	height:50%;
	min-width: 30%;
	margin:0;
}

#tebeo{
	width: 50%;
	margin-left: 3%;
	margin-top: 5%;
}

#videoTebeo{
	margin-left: 55%;
	margin-top: -5%;
}

#tebeoTitre{
	margin-top: 0%;
}

#lienTebeo{
	margin-left: 50%;
	margin-top: 120%;
	margin: 20%;
}




#presse{
	background-image: url(../img/bg1c.jpg);
	background-size: 100%;
}

#partenaires{
	background-image: url(../img/bg2c.jpg);
	background-size: 100%;
}

#presentation{
	background-image: url(../img/bg3c.jpg);
	background-size: 100%;
}

#mapPano{
	background-image: url(../img/bg4c.jpg);
	background-size: 100%;
}

#documentation{
	background-image: url(../img/bg5c.jpg);
	background-size: 100%;
}
