/*##### Preloader #####*/

#preloader {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('../img/loading.gif') no-repeat center center;
    /*From http://files.mimoymima.com/images/loading.gif TODO: changer ce gif*/
}

/*##### Page titre #####*/
.title{
    position : absolute;
    width : 100%;
    top : 10px;
    left: 0px;
    color : green;
    font-family: "daysregular";
    font-size: 50pt;
    text-align: center;
}

#slogan{
    position : absolute;
    top : 150px;
    left: 100px;
    right: 100px;
    color : white;
    font-family: "calligraffiti";
    font-size: 30pt;
    text-align: center;
}

/*########## Bandeau noir ##########*/


.bandeau{
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    height: 40%;
    background-color: rgba(20,20,20,0.93);
    padding:5px;

    border-bottom-right-radius: 20px;

    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.sub-title{
    text-align: left;
    font-size: 100%;
}

.bandeau blockquote{
    font-family: arial;
    text-align: left;
    color: white;
    max-height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*########## Contenu ##########*/
.contenu{
    position: absolute;
    right: 0px;
    top: 64px;
    width: 60%;
    bottom: 0px;
    /*background-image: url("http://imas-cinderella.com/assets/img/top/visual/main2.jpg");
    background-size: contain;*/
    display: flex;
    align-items: center;
}

/*##### Divers #####*/
.img-centre {
    position: relative;
    height: auto;
    width: 70%;
    left: 15%;
    border-radius: 20px;
}

#mapLeaflet{
    height: 50%;
}

a{
    text-decoration: none;
    color: rgb(100,200,100);
}

a:hover{
    text-decoration: underline;
}


/*##### Classes diapositives #####*/
.diapo_centrage-interne{
    position: relative;
    height: 90%;
    min-height: 222px;
    width: 70%;
    min-width: 222px;
    left: 15%;
    border-radius: 20px;
    background-color: rgba(100,100,100,0.7);

    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    -moz-flex-align-items: center;
    -ms-flex-align-items: center;
    -webkit-flex-align-items: center;
    align-items: center;
}

.diapo_title{
    font-family: arial;
    text-align: center;
    padding: 5px;
    z-index: 1;
    color: white;

    border-radius: 10px;
    background: rgba(40,40,40,0.85);
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.diapo_img{
    width: 80%;
    height: 70%;
    overflow: auto;
    padding: 10px;
}

.diapo_img img{
    width:100%;
}

.diapo_paragraphe-title{
    font-family: arial;
    font-size: 100%;
    text-align: center;
    color: white;
}

.diapo_paragraphe{
    font-size: 90%;
    height: auto;
    max-height: 60%;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    align-self: stretch;
    overflow: auto;
    overflow-style: move;

    text-align: justify;
    color: #fff;
    font-family: arial;
}

.diapo_pied-page{
    position: relative;

    bottom: 5px;
    text-align: left;
    text-decoration: none;
    font-family: arial;
    color: rgb(100,200,100);
    padding: 4px;
    border-radius: 10px;
    background-color: rgba(100,100,100,0.7)
}

iframe{
    position: relative;
    width: 80%;
    height: 80%;
}

/*
images de fond
*/
#presse{
	background-image: url(../img/bg1c-light.jpg);
	background-size: cover;
}

#partenaires{
	background-image: url(../img/bg2c-light.jpg);
	background-size: cover;
    }

#presentation{
	background-image: url(../img/bg3c-light.jpg);
	background-size: cover;
    }

#mapPano{
	background-image: url(../img/bg4c-light.jpg);
	background-size: cover;
    }

#documentation{
	background-image: url(../img/bg5c-light.jpg);
	background-size: cover;
    }
